
#gradhome{
  border-width: thick;
  border-color: white;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#540d6e+0,584a85+37,61e8bf+100 */
background: #540d6e; /* Old browsers */
background: -moz-linear-gradient(45deg, #540d6e 0%, #584a85 37%, #61e8bf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #540d6e 0%,#584a85 37%,#61e8bf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #540d6e 0%,#584a85 37%,#61e8bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#540d6e', endColorstr='#61e8bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-repeat: no-repeat;
background-attachment: fixed;
}

/*font alterations*/

body{
font-family: 'Lato-Light', sans-serif;
  font-variant: normal;
  font-weight: 100;
  color: white;
  text-align: center;
}

.form-group h2, .form-group h3, .form-group label {
  font-family: 'Lato-Light';
  font-weight: 300;
}

.form-group{
  font-size: 1.2em;
}


/*box around login and siognup pages*/

#top, #bottom, #left, #right {
  background: white;
  position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 10px;
    }
    #left { left: 0; }
    #right { right: 0; }

  #top, #bottom {
    left: 0; right: 0;
    height: 10px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }




/*alignment*/

body{
padding-top: 60px;
padding-bottom: 70px;
}

.center-center {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.content {
  text-align: center;
}

textarea {
    resize: none;
}



/*photos*/

.panorama{
  width:100%;
  height: auto;
}

.post-picture{
  padding-bottom: 10px;
}


a .profile-picture{
  height: 60px;
  width: auto;
}

.profile-info .profile-user-picture {
  max-height: 135px;
  width: auto;
}

.comment-picture{
  height: 30px;
  width: auto;
}

.friend-picture{
  height: 70px;
  width: auto;
}

.mask-container{
  min-height: 185px;
}

.circle-cover{
-webkit-clip-path: circle(70px at center);
clip-path: circle(70px at center);
display: inline;
}

hr{
  color: #ccc;
}



/*navbars*/

 .navbar-fixed-top{
   background-color: white;
   border-bottom: thin solid lightgrey;
   box-shadow:  0px 0px 2px 0px lightgrey;
}

.navbar-fixed-bottom{
  padding-top: 3px;
  background-color: white;
   border-top: thin solid lightgrey;
     box-shadow: 2px 0px 0px 0px lightgrey;
}

/*icons*/

.fa{
  color: color: #61e8bf;
    vertical-align: middle;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/*Logos*/

#loginlogo{
  height: auto;
  width: 80%;
}

#signuplogo{
  height: auto;
  width: 50%;
}

#homepagelogo{
  height: auto;
  width: 170px;
}

.lv-icons a i {
  color: #61e8bf;
}

.lv-icons a:hover i {
  color: #56c7a5;
}

.lv-icons-unclicked a i {
  color: #cdcdcd;
}

.lv-icons-unclicked a:hover i {
  color: #888;
}

.lv-icons-clicked a i {
  color: #888;
}

.lv-icons-clicked a:hover i {
  color: #777;
}


/*buttons*/

.lv-button{
  color: white;
  background-color: transparent;
margin: 10px 10px 10px 10px;
vertical-align: middle;
width: 150px;
height: 40px;
font-size: 1.1em;
}

.comment-button{
    background-color: transparent;
    color: #444;
    font-size: 1.1em;
    margin: 10px 10px 10px 10px;
    width: 150px;
    height: 40px;
}

.settings-buttons{
  padding: 8px 12px;
  width: 150px;
    text-decoration: none;
}

.add-padding{
  padding-top:50px;
}



/*upload box*/
.drag-in{
  width: 80%;
  height: 40%;
  color: white;
  text-align: center;
  border-style: dashed;
  margin-right: auto;
  margin-left: auto;
}

.lv-bigplus{
  font-size: 15em;
}

a.btn {
  text-decoration: none;
}

/*input fields*/
.form-control{
  margin: 0 auto;
  width: 300px;
  height: 40px;
}

input.form-control, textarea.form-control, select.form-control{
       background-color:rgba(0,0,0,0);
       color: white;
    }

    /*posts*/

.post{
  color: #555;
}

.post-meta{
width: 100%;
align-items : center;
}

.post-user-picture {
  font-size:1.3em;
  text-align: left;

}

.post-user-picture a:hover, .post-user-picture a:hover{
    text-decoration: none;
}

.post-content, .post-comment, .user-comment{
text-align: left;
}

hr{
  margin-top: 8px;
  margin-bottom: 8px;
}

.user-comment{
    padding-left: 6em;
      color: #444;
}

input.actual-comment{
  color: #444;
      display: inline;
      width: 70%;
}

.comment-button{
  width: 20%;
}

.post-comment{
  padding-left: 5em;
}

.location{
  font-weight: 600;
}
.lv-top-padding{
  padding-top: 6px;
}

/*profile*/

.collections-content,.collections-content  a, .friends-content, .friends-content a,  .collection-content,  .collection-content a, .circles-content, .circles-content a{
  text-align: center;
  color: #444;
}

/*profile-info*/
.profile-info{
  padding-top: 10px;
  color: #444;
  text-align: left;
}

.border-right{
  border-right: 1px solid #ccc;
}

/*profile-collections*/


.collections-content h2, .friends-content h2, .collection-content h2{
  padding-top: 3px;
}

.new-collection,.new-collection a {
  font-size: 1.4em;
    color: #fff;
}

.alignright{
  float: right;
  text-align: right;
  padding-right: 10px;
}

/*create collection*/

.collection-name-input{
  display: inline;
  align-self: center;
  height: inherit;
    font-size: 1em;
    color: #444!important;
    width: 320px;
    text-align: center;
    padding: 0 0 0 0;
    border: none;
    border-bottom: 1px solid #444;
    box-shadow: none;
  border-radius: 0px;
}

.collection-name-input:focus{
  box-shadow: none;
      border-bottom: 1px solid  #61e8bf;
}

.add-padding-40{
    padding-top: 38px;

}

.add-padding-30{
    padding-top: 25px;
}

.create-collection-name, .create-collectionheader{
color: #444;
  font-size: 1.7em;
}

.create-collection-name .lv-button{
  height: 40px;
  font-size: 1em;
  width: 140px;
  color: #444;
  float: none;
}

.collection-creation{
  color: #444;
}

.create-collection-btn{
  padding: 0 0 0 0;
}

.picture-list-col, .picture-list-row{
  padding: 0px;
}

.picture-list-picture-container{
   position: relative;
}


.picture-list-picture-container input{
  position: absolute;
top: -5px;
  left: 0%;
  text-align: center;
  outline: none!important;
}

.create-collection-check{
width: 100%;
height: 100%;
}

/*circles*/

.circles-overview, .circles-overview  a{
  text-align: center;
  color: #444;
}

.create-collection-check{
  -webkit-appearance: none;
width: 100%;
height: 100%;
box-shadow: none;
top: -5px;
outline:none;
/*hide checkbox to only display angular classwitching*/
}

.create-collection-check:checked{
  -webkit-appearance: none;
/*hide checkbox to only display angular classwitching*/
background-color: white;
  opacity: 0.5;
  box-shadow: none;
top: -4px;
outline:none;
}

.create-collection-check:checked:after{
  font-family: FontAwesome;
   content: "\f00c";
font-size: 4em;
text-align: center;
position: absolute;
box-shadow: none;
outline:none;
top: 60px;
left: 43%;
}



.picture-list-picture{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.picture-list-picture{
  width: 100%;
  height: 200px;
  object-fit: cover;
  /*opacity: 0.5;*/
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
}

.picture-list-picture-selected{
  opacity: 0.5;

}

/*friends*/
.friend-name{
  text-align: left;
  font-size: 1.7em;
}

.friending-icon{
  padding-top: 6px;
  text-align: right;
  color: #aaa;
}

 a:hover .friending-icon{
  text-align: right;
  color: #888;
}

/*circles*/




/*other*/

.login-help, .login-help a {
  color: #ababab;
}

.vertical-center {
  display: flex;
  align-items: center;
}
a:hover{
  text-decoration: none;
}
