
#gradhome{
  border-width: thick;
  border-color: white;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#540d6e+0,584a85+37,61e8bf+100 */
background: #540d6e; /* Old browsers */
background: -moz-linear-gradient(45deg, #540d6e 0%, #584a85 37%, #61e8bf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #540d6e 0%,#584a85 37%,#61e8bf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #540d6e 0%,#584a85 37%,#61e8bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#540d6e', endColorstr='#61e8bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body{

  font-family: lato;
  font-weight: 100;
  color: white;
  text-align: center;
}
#top, #bottom, #left, #right {
  background: white;
  position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 10px;
    }
    #left { left: 0; }
    #right { right: 0; }

  #top, #bottom {
    left: 0; right: 0;
    height: 10px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }


/*.container {
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}*/

.container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.content {
  text-align: center;
}

.png{
  height: auto;
  width: 80%;
}

.login-button{
  color: white;
  background-color: transparent;
margin: 10px 10px 10px 10px;
width: 100px;
height: 40px;
font-size: 1em;
}

.form-control{
  margin: 0 auto;
  width: 300px;
  height: 40px;
}

a.btn {
  text-decoration: none;
}

.login-help a {
  color: #ababab;
}
